@import "./../../utils/colors.scss";
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.contact-us-page {
  width: 100%;
  height: 100%;
  &-container {
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    // background-image: url("../../../public/images/bg.jpg");
    // background-color: #001127;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
  }

  &-header {
    color: #fff;

    h1 {
      font-size: 67px;
      position: relative;

      @media screen and (max-width: 768px) {
        font-size: 42px;
      }

      @media screen and (max-width: 554px) {
        font-size: 32px;
      }

      &::before {
        content: "";
        position: absolute;
        left: 90%;
        top: 60%;
        display: inline-block;
        width: 160px;
        height: 2px;
        background-color: #81afdd;
        border-radius: 12px;

        @media screen and (max-width: 768px) {
          width: 80px;
          left: 80%;
        }

        @media screen and (max-width: 554px) {
          width: 40px;
          left: 80%;
        }
      }
      &::after {
        content: "";
        position: absolute;
        right: 90%;
        top: 60%;
        display: inline-block;
        width: 160px;
        height: 2px;
        background-color: #81afdd;
        border-radius: 12px;

        @media screen and (max-width: 768px) {
          width: 80px;
          right: 80%;
        }

        @media screen and (max-width: 554px) {
          width: 40px;
          right: 80%;
        }
      }
    }

    h3 {
      font-size: 32px;
      margin-top: 30px;

      @media screen and (max-width: 768px) {
        font-size: 24px;
      }

      @media screen and (max-width: 554px) {
        font-size: 19px;
      }
    }

    p {
      font-size: 19px;
      line-height: 30px;
      margin: 30px 0;
      color: #81afdd;

      @media screen and (max-width: 768px) {
        font-size: 18px;
      }

      @media screen and (max-width: 554px) {
        font-size: 15px;
      }
    }

    .get-in-touch {
      padding: 15px 50px;
      border: 1px solid rgba(255, 255, 255, 0.7);
      border-radius: 32px;
      font-size: 19px;
      cursor: pointer;
      transition: 0.2s ease-in-out;
      background: rgb(211, 216, 250);
      box-shadow: 0px 2px 10px rgba(178, 171, 241, 0.8);
      margin-bottom: 160px;

      &:hover {
        background-color: #fff;
        color: rgb(6, 0, 84);
      }
    }
  }

  &-contacts {
    width: 90%;
    padding-bottom: 70px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: -150px;

    @media screen and (max-width: 768px) {
      padding-bottom: 50px;
    }

    &-box {
      width: 25%;
      height: 250px;
      border-radius: 12px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      color: #fff;
      padding: 20px;
      box-sizing: border-box;
      background-color: #0c51ad;
      text-decoration: none;
      box-shadow: $shadow;

      &:hover i.fas {
        transform: translateY(-20px);
        width: 90px;
        height: 90px;
      }

      &:hover h4,
      &:hover span {
        color: #fff;
      }

      &:hover {
        background-color: #1f6ed9;
      }

      @media screen and (max-width: 1024px) {
        width: 30%;
      }

      @media screen and (max-width: 768px) {
        width: 32%;
      }

      @media screen and (max-width: 766px) {
        width: 100%;
        margin-top: 40px;
      }

      i.fas {
        font-size: 32px;
        color: #0c51ad;
        background-color: whitesmoke;
        box-sizing: border-box;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease-in-out;
      }

      h4 {
        font-size: 27px;
        margin: 15px 0;
      }
    }
  }

  &-map {
    width: 90%;
    margin: 0% auto;
    margin-bottom: 60px;
    display: flex;

    @media screen and (max-width: 766px) {
      flex-direction: column;
      gap: 30px;
    }

    &-left {
      flex: 1.2;
      display: flex;
      height: 450px;
      border-radius: 12px;
      overflow: hidden;
      box-shadow: $shadow;

      iframe {
        width: 100%;
        height: 100%;
        @media screen and (max-width: 766px) {
          height: 350px;
        }
      }
    }

    &-right {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      box-sizing: border-box;
      padding-left: 50px;

      @media screen and (max-width: 766px) {
        padding-left: 0;
      }

      img {
        width: 120px;
        box-shadow: $shadow;
        border-radius: 7px;

        @media screen and (max-width: 766px) {
          width: 100%;
        }
      }

      h2 {
        font-family: "Lobster", cursive;
        font-size: 57px;
        color: $white;
        margin: 20px 0;
        user-select: none;
      }

      &-contact-info {
        p {
          display: flex;
          align-items: center;
          color: #fff;
          i.fas {
            color: white;
            width: 60px;
            height: 60px;
            font-size: 24px;
            margin-right: 12px;
            border: 1px solid #1f6ed9;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: all 0.2s ease-in-out;

            @media screen and (max-width: 766px) {
              height: 50px;
              width: 50px;
            }

            &:hover {
              background-color: #0c51ad;
              color: #fff;
            }
          }

          @media screen and (max-width: 768px) {
            i.my-address {
              padding: 20px;
            }
          }
        }
      }
    }
  }
}
