@import "./../../Utils/colors.scss";

.header {
  font-family: 'Teko', sans-serif;
  border-bottom: 1px solid rgba($color: $primaryBackground, $alpha: 0.1);
  height: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999999;
  background-color: rgba($color: $primaryBackground, $alpha: 0.6);
  box-shadow: 0px 2px 6px rgba($color: $primaryBackground, $alpha: 0.1);

  &-scrolled-bg {
    background-color: $header-color;
    box-shadow: 0px 2px 6px rgba($color: $themeColor, $alpha: 0.03);
  }

  &:hover {
    background-color: $header-color;
    transition: all 0.3s ease-in-out;
  }

  &-container {
    width: 90%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .btn {
      width: 65px;
      height: 50px;
      border-radius: 5px;
      border: none;
      transition: all 0.05s ease-in-out;
      font-size: 20px;
      font-weight: 600;
      background: #040f16;
      color: #f5f5f5;
      font-size: 14px;
      align-items: center;
      display: none;

      @media (max-width: 768px) {
        display: block;
      }
    }

    .btn:hover {
      box-shadow: 0 0 20px 0px #2e2e2e3a;
    }

    .btn .icon {
      position: absolute;
      height: 50px;
      width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.05s;
      visibility: hidden;
      margin-top: -14px;
      margin-left: -3px;
    }

    .btn .text {
      transform: translateX(55px);
    }

    .btn:hover .icon {
      width: 70px;
      visibility: visible;
    }

    .btn:hover .text {
      transition: all 0.5s;
      opacity: 0;
    }

    .btn:focus {
      outline: none;
    }

    .btn:active .icon {
      transform: scale(0.85);
    }
  }

  &-logo {
    --primary-color: black;
    --hovered-color: #170B3B;
    cursor: pointer;
    position: relative;
    display: flex;
    font-weight: 600;
    font-size: 20px;
    gap: 0.5rem;
    align-items: center;

    &:hover h3:before {
      width: 100%;
    }

    h3 {
      font-size: 33px;
      margin: 0;
      position: relative;
      color: var(--primary-color);

      @media (max-width: 950px) {
        font-size: 27px;
      }

      &::before {
        position: absolute;
        content: "A.K. Dream House";
        width: 0%;
        inset: 0;
        color: var(--hovered-color);
        overflow: hidden;
        transition: 0.3s ease-out;
      }
    }
  }

  &-logo-scroll {
    --primary-color: #170B3B;
  }

  &-nav {
    &-links {
      display: flex;
      gap: 22px;

      @media (max-width: 768px) {
        position: absolute;
        background-color: #fff;
        flex-direction: column;
        top: 100px;
        right: -300px;
        width: 240px;
        gap: 5px;
        padding: 20px 0;
        border-radius: 10px 0 2px 22px;
        box-shadow: $backgoundBoxShadow;
      }

      &-mob_active {
        display: flex;
        transition: all 0.5s ease-in-out;
        right: 0;
      }
    }

    &-link {
      color: #170B3B;
      font-size: 18px;
      font-weight: 500;
      cursor: pointer;
      transition: 0.3s ease-out;
      text-decoration: none;
      --primary-color: black;
      --hovered-color: #170B3B;
      cursor: pointer;
      position: relative;
      display: flex;
      font-size: 20px;
      gap: 0.5rem;
      align-items: center;

      @media (max-width: 950px) {
        font-size: 16px;
      }

      @media (max-width: 768px) {
        padding-left: 30px;
      }

      &:hover::after {
        width: 100%;
      }

      &:hover span {
        color: #170B3B;
      }

      &::after {
        position: absolute;
        content: "";
        width: 0;
        left: 0;
        bottom: 5px;
        background: var(--hovered-color);
        height: 2px;
        transition: 0.3s ease-out;
      }

      span {
        margin: 0;
        position: relative;
        color: var(--primary-color);
        padding: 10px 5px;
      }
    }

    &-link-scroll {
      --primary-color: #170B3B;
    }
  }
}
