.PortfolioDetailPage {
  min-height: 100vh;
  width: 100%;
  position: relative;
  &-container {
    width: 90%;
    margin: 0% auto;

    &-details {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding: 200px 0 0 0;
      flex-direction: row-reverse;

      @media (max-width: 768px) {
        flex-direction: column;
      }

      &-left {
        width: 50%;
        padding-left: 40px;

        @media (max-width: 768px) {
          width: 100%;
          padding-left: 0px;
        }

        &-list {
          margin-top: 20px;
          li {
            margin-left: -30px;
            list-style: none;
            display: block;

            b {
              background-color: rgba(123, 125, 144, 0.115);
              color: white;
              padding: 7px 20px;
              line-height: 45px;
              position: relative;
              border-radius: 7px;
              @media (max-width: 400px) {
                font-size: 12px;
              }

              span,
              a {
                color: rgb(0, 221, 255);
                font-size: 18px;
                font-weight: 500;
                font-style: italic;

                @media (max-width: 400px) {
                  font-size: 14px;
                }
              }
            }
          }
        }

        h2 {
          color: aliceblue;
        }

        .social-icons {
          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            padding: 8px;
            background-color: rgb(219, 255, 242);
            margin: 10px 0;
            margin-right: 12px;
            box-shadow: 0px 3px 6px black;
            transition: all 0.2s ease-in-out;
            user-select: none;

            &:hover {
              transform: translateY(-5px);
              background-color: rgba(188, 214, 237, 0.716);
            }
          }
        }
      }

      &-right {
        width: 50%;
        flex: 1;
        min-height: 500px;
        overflow: hidden;
        border-radius: 7px;
        user-select: none;
        @media (max-width: 768px) {
          width: 100%;
          min-height: auto;
          margin: 50px 0;
        }
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
