@import "./../../utils/colors.scss";
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.navigation {
  height: 100px;
  width: 100%;
  position: fixed;
  z-index: 99999;
  user-select: none;

  &-change-background {
    background-color: $primary-color;
  }

  &-container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-logo {
      text-align: center;
      font-family: "Lobster", cursive;

      img {
        width: 320px;
        cursor: pointer;

        @media (max-width: 554px) {
          width: 70%;
        }
      }
    }

    h2 {
      color: $white;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        letter-spacing: 0.2px;
        color: $skyblue;
      }
    }
  }
}

/*Styling logo*/

/*Styling Links*/
.nav-links {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.nav-links li a {
  color: $white;
  text-decoration: none;
  margin: 0 20px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  padding: 7px 20px;
  position: relative;
  font-size: 17px;
  font-weight: 500;

  &:hover {
    &::before {
      width: 70%;
      transition: all 0.5s ease-in-out;
    }
  }

  &:hover {
    &::after {
      height: 40px;
      top: 100%;
      transition: all 0.7s ease-in-out;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 200%;
    left: 50%;
    width: 2px;
    height: 0px;
    background: $gradient-text;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 15%;
    width: 0%;
    height: 2px;
    background: $gradient-text;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &:hover :before {
    width: 70%;
  }
}

/*Styling Hamburger Icon*/
.hamburger div {
  width: 30px;
  height: 3px;
  background: #f2f5f7;
  margin: 5px;
  transition: all 0.3s ease;
}

.hamburger {
  display: none;
}

.navigation-mobile-logo {
  display: none;
}

/*Stying for small screens*/
@media screen and (max-width: 768px) {
  nav {
    position: fixed;
    z-index: 999;
  }

  .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
    transition: all 0.7s ease;
  }

  .nav-links {
    position: fixed;
    top: 0%;
    right: 0%;
    color: #f2f5f7;
    height: 500px;
    width: 320px;
    padding-right: 60px;
    box-shadow: $shadow;
    border-radius: 0px 0 0 52px;
    flex-direction: column;
    clip-path: circle(15px at 90% 0px);
    -webkit-clip-path: circle(10px at 101% -10px);
    transition: all 1s ease-out;
    pointer-events: none;
    opacity: 0.5;
    background: linear-gradient(
      49.97deg,
      #1555c4 13.84%,
      #153e91 30.67%,
      #34036c 90.84%
    );
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    .header-link {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      height: 80px;
      width: 80%;
      text-decoration: none;

      &:first-child {
        margin-top: 80px;
      }

      a {
        padding: 20px 0;
      }
    }

    @media (max-width: 350px) {
      width: 90%;
    }

    .navigation-mobile-logo {
      display: block;

      margin-top: 30px;

      h2 {
        font-family: "Lobster", cursive;
        font-size: 32px;
      }
    }
  }

  .nav-links.open {
    clip-path: circle(10px at 90% 0%);
    -webkit-clip-path: circle(700px at 90% 0%);
    pointer-events: all;
    opacity: 1;
  }

  li.fade {
    opacity: 1;
  }
}

/*Animating Hamburger Icon on Click*/
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  transition: all 0.5s ease;
  width: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
