$primaryBackground: #e5e5e5;
$white: #fff;
$black: #000;

$primaryColor: #1b52de;



$themeColor: #170B3B;
$header-color: #ececf5;


$backgoundBox: #406cc431;
$backgoundBoxShadow: 0px 2px 6px 0px #406cc431;
$boxShadowMedium: 0px 2px 12px rgba(35, 0, 0, 0.267);
