.PortfolioDetails {
  padding-top: 100px;

  &-container {
    width: 90%;
    margin: 0 auto;

    &-header {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;

      p {
        font-size: 16px;
        font-weight: 500;
      }
    }

    &-images{
        padding: 60px 0;
    }

    &-images-box {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 20px;
      gap: 10px;

      @media (max-width: 768px) {
        gap: 20px;
      }

      img {
        width: 48%;
        height: 600px;
        object-fit: cover;
        object-position: center;
        border-radius: 50px 0;

        @media (max-width: 1440px) {
          height: 520px;
        }

        @media (max-width: 1080px) {
          height: 400px;
        }

        @media (max-width: 768px) {
          height: 350px;
        }

        @media (max-width: 554px) {
          width: 100%;
        }

        &:nth-child(2) {
          border-radius: 0 50px;
        }

        &:nth-child(3) {
          border-radius: 0 50px;
        }
      }
    }
  }
}
