.Portfolio {
  min-height: 100vh;

  &-cards-section {
    width: 90%;
    margin: 0 auto;
    border-radius: 7px;
    box-sizing: border-box;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.373);

    h2 {
      margin: 40px 0 80px 0;
    }

    .inner-portfolio {
      display: flex;
      flex-wrap: wrap;
    }

    &-portfolio {
      width: 25%;
      height: 350px;
      display: inline;
      border: 1px solid rgba(137, 43, 226, 0.284);
      overflow: hidden;
      border-radius: 4px;
      box-shadow: 0px 3px 6px rgba(12, 1, 48, 0.469);
      position: relative;
      transition: all 0.4s ease;

      &:hover img {
        transform: scale(1.2);
      }
      img {
        width: 100%;
        height: 100%;
        object-position: center;
        object-fit: cover;
        transition: all 0.3s ease-in-out;
      }

      &:hover &-hover {
        left: 0%;
        transition: all 0.4s ease-in-out;
        clip-path: circle(10px at 90% 90%);
        -webkit-clip-path: circle(700px at 9% 0%);
        pointer-events: all;
      }

      &-hover {
        background: linear-gradient(
          49.97deg,
          #1555c4 13.84%,
          #153e91 30.67%,
          #34036c 90.84%
        );
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0%;
        left: 0%;
        clip-path: circle(52px at 9% 60px);
        -webkit-clip-path: circle(10px at -5% 101%);
        transition: all 0.2s ease-out;
        pointer-events: none;
        opacity: 0.8;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover .zoom-button {
          padding: 10px 25px;
        }

        h4 {
          color: #fff;
          font-weight: bold;
          font-size: 32px;
          @media (max-width: 1080px) {
            font-size: 27px;
          }
          @media (max-width: 768px) {
            font-size: 24px;
          }
        }

        .zoom-button {
          background-color: rgba(255, 255, 255, 0.502);
          border: none;
          border-radius: 2px;
          transition: all 0.4s ease-in-out;
          position: absolute;
          right: 15px;
          bottom: 15px;
          padding: 10px 20px;
          color: #042c54;
          font-weight: 500;
        }
      }
    }
  }
}
